<div class="recovery-header-icons">
  <img src="/img/favicon.png" alt="Circle Logo" class="logo-circle" />
  <img src="/img/logos/isep_logo.png" alt="Rectangular Logo" class="logo-rect" />
</div>

<div class="auth-container">
  <div class="recovery-card">
    <h2>{{ t 'password_recovery' }}</h2>
    <form id="recovery-form">
      <label>{{ t 'existing_email' }}</label>
      <input class="input-field" type="email" name="email" placeholder="{{ t 'email' }}" required/>

      <label>{{ t 'existing_user_name' }}</label>
      <input class="input-field" type="text" name="username" placeholder="{{ t 'user_name' }}" required/>

      <label>{{ t 'new_password' }}</label>
      <input class="input-field" type="password" name="password" placeholder="{{ t 'enter_password' }}" required/>


      <button class="red-button recovery-button" id="recovery-button" type="submit" disabled>{{ t 'recover' }}</button>

    </form>
  </div>
</div>

<script type="module" src="/js/pages/auth.js"></script>
<script type="module" src="/js/pages/recovery.js"></script>